/* 1. IMPORTS (solo Tailwind aquí arriba) */
@import "tailwindcss";

/* 2. VARIABLES */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 3. TEMA */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* 4. DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 5. BASE */
body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wallet-adapter-button {
  background-color: #512da8;
  color: white;
  font-family: inherit;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.wallet-adapter-button:hover {
  background-color: #673ab7;
}

.wallet-adapter-button-trigger {
  background-color: #512da8;
}